
body {
    background-color: #393E46;
}

.container {
    width: 80%;
    text-align: center;
    margin: auto;
}

h1 {
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    margin: 30px;
}

.dice {
    display: inline-block;
}

.dice p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 70%;
}


footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}